* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	font-family: 'Montserrat', sans-serif;
	background-color: #333;
	color: #fff;
}

.timeline {
	position: relative;
	width: 100%;
	max-width: 800px;
}

.timeline ul {
	display: flex;
	flex-direction: column;
	margin: 0 2em;
	list-style: none;
}

.timeline li {
	position: relative;
	margin-bottom: 2em;
	padding: 2em;
	width: 50%;
	border: 1px solid rgb(201, 13, 95);
	border-radius: 8px;
}

.timeline li::after {
	content: "";
	position: absolute;
	top: calc(50% - 10px);
	width: 20px;
	height: 20px;
	background-color: rgb(201, 13, 95);
	border-radius: 50%;
}

.timeline li:nth-child(even) {
	align-self: flex-end;
	transform: translateX(20px);
}

.timeline li:nth-child(even)::after {
	left: -31px;
}

.timeline li:nth-child(odd) {
	transform: translateX(-20px);
}

.timeline li:nth-child(odd)::after {
	right: -31px;
}

.timeline::before {
	content: "";
	background-color: rgb(201, 13, 95);
	width: 2px;
	height: 100%;
	display: block;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
}