* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100vh;
	font-family: 'Montserrat', sans-serif;
	background-color: #333;
}

h1 {
	margin-bottom: 0.5em;
	text-transform: uppercase;
	color: #ddd;
}

.fake-form {
	margin-bottom: 3em;
	width: 600px;
	height: 300px;
	border-radius: 6px;
	overflow: hidden;
}

.page {
	display: none;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	font-size: 22px;
	background-color: #fff;
}

.page:nth-child(even) {
	background-color: #eee;
}

.active-page {
	display: flex;
}

.progress-box {
	position: relative;
	display: flex;
	justify-content: space-between;
	margin-bottom: 3em;
	width: 600px;
}

.progress-box::before,
.progress-bar {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	height: 4px;
	z-index: -1;
}

.progress-box::before {
	width: 100%;
	background-color: #ddd;
	content: "";
}

.progress-bar {
	width: 0%;
	background-color: royalblue;
	transition: width .3s;
}

.step {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 38px;
	width: 38px;
	color: #333;
	background-color: #fff;
	border: 3px solid #ddd;
	border-radius: 6px;
}

.active-step {
	background-color: royalblue;
	color: #fff;
	border-color: rgb(27, 71, 206);
}

.btn {
	padding: 0.7em 2em;
	font-size: 18px;
	color: #fff;
	background-color: royalblue;
	border: none;
	border-radius: 6px;
	cursor: pointer;
}

.btn:disabled {
	background-color: #ddd;
	color: #333;
	cursor: default;
}