
body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
    background-color: lightgreen;
    height: 100vh;
    font-size: 24px;
}

.box {
    padding: 60px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .4);
}

input {
    margin: 20px 0 30px;
    padding: 10px 20px;
    width: 100%;
    font-size: 18px;
}

li {
    margin-bottom: 8px;
    list-style: inside;
}